{% extends "base.html" %}
{% include "nav.html" %}
{% block content %}
<section id="deleteHobby" class="section">
    <div class="section-content container padding-1-5">
        <h1>Delete Hobby</h1>
        <p class="padding-top-10">Are you sure you want to delete the hobby {{hobby.name}}?</p>

        <form action="{{url_for('deleteHobby', hobby_name = hobby.name)}}" method = "post" class="padding-top-10">
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-danger">Delete</button>
                <a href="{{url_for('showHobby', hobby_name = hobby.name)}}">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
